<a href="https://colab.research.google.com/github/jerussi123/Proyecto_tec_andes/blob/main/Soporte_1_Fuentes_de_Limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Limpieza y Alistamiento de Datos

Carlos PÃ©rez A01029313

In [184]:
import numpy as np
import pandas as pd
import re

In [185]:
file_path = 'productividad.csv'
df = pd.read_csv(file_path, sep=';', header=0)

In [186]:
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/01/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725424
1,1/01/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.8865
2,1/01/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570492
3,1/01/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570492
4,1/01/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800381944

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   object
dtypes: float64(5), int64(5), object(5)
memory usage: 140.4+ KB

In [188]:
df = df.drop(["day","team","wip","quarter","department","incentive","no_of_style_change"], axis=1, errors='ignore')

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   targeted_productivity  1197 non-null   float64
 2   smv                    1197 non-null   float64
 3   over_time              1197 non-null   int64
 4   idle_time              1197 non-null   float64
 5   idle_men               1197 non-null   int64
 6   no_of_workers          1197 non-null   float64
 7   actual_productivity    1197 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 74.9+ KB

In [190]:
df.isnull().sum( )

date                     0
targeted_productivity    0
smv                      0
over_time                0
idle_time                0
idle_men                 0
no_of_workers            0
actual_productivity      0
dtype: int64

In [191]:
df.duplicated().sum()

35

In [192]:
df.head()

,date,targeted_productivity,smv,over_time,idle_time,idle_men,no_of_workers,actual_productivity
0,1/01/2015,0.80,26.16,7080,0.0,0,59.0,0.940725424
1,1/01/2015,0.75,3.94,960,0.0,0,8.0,0.8865
2,1/01/2015,0.80,11.41,3660,0.0,0,30.5,0.800570492
3,1/01/2015,0.80,11.41,3660,0.0,0,30.5,0.800570492
4,1/01/2015,0.80,25.90,1920,0.0,0,56.0,0.800381944

In [193]:
df.drop_duplicates(inplace=True)

In [194]:
df.duplicated().sum()

0

In [195]:
df['no_of_workers'] = df['no_of_workers'].astype('int64')

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1162 entries, 0 to 1196
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1162 non-null   object
 1   targeted_productivity  1162 non-null   float64
 2   smv                    1162 non-null   float64
 3   over_time              1162 non-null   int64
 4   idle_time              1162 non-null   float64
 5   idle_men               1162 non-null   int64
 6   no_of_workers          1162 non-null   int64
 7   actual_productivity    1162 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 81.7+ KB

In [198]:
def corregir_float(valor):
    str_valor = str(valor)
    if str_valor.count('.') > 1:
        # Si hay mÃ¡s de un punto, eliminar el primero
        partes = str_valor.split('.')
        return float(partes[0] + '.' + ''.join(partes[1:]))
    return float(str_valor)

df['actual_productivity'] = df['actual_productivity'].apply(corregir_float)

In [199]:
df['actual_productivity'] = pd.to_numeric(df['actual_productivity'], errors='coerce')

In [200]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1162 entries, 0 to 1196
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1162 non-null   object
 1   targeted_productivity  1162 non-null   float64
 2   smv                    1162 non-null   float64
 3   over_time              1162 non-null   int64
 4   idle_time              1162 non-null   float64
 5   idle_men               1162 non-null   int64
 6   no_of_workers          1162 non-null   int64
 7   actual_productivity    1162 non-null   float64
dtypes: float64(4), int64(3), object(1)
memory usage: 81.7+ KB

In [201]:
df['date'] = pd.to_datetime(df['date'])

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1162 entries, 0 to 1196
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1162 non-null   datetime64[ns]
 1   targeted_productivity  1162 non-null   float64
 2   smv                    1162 non-null   float64
 3   over_time              1162 non-null   int64
 4   idle_time              1162 non-null   float64
 5   idle_men               1162 non-null   int64
 6   no_of_workers          1162 non-null   int64
 7   actual_productivity    1162 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 81.7 KB

In [203]:
df.to_excel("productividad_limpia1.xlsx", index=False)