<a href="https://colab.research.google.com/github/jerussi123/Proyecto_tec_andes/blob/main/Soporte_1_Fuentes_de_Limpieza.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Limpieza y Alistamiento de Datos

Carlos PÃ©rez A01029313

In [70]:
import numpy as np
import pandas as pd
import re

In [71]:
file_path = 'productividad.csv'
df = pd.read_csv(file_path, sep=';', header=0)

In [72]:
df.head()

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,1/01/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725424
1,1/01/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.8865
2,1/01/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570492
3,1/01/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570492
4,1/01/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800381944

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   object
dtypes: float64(5), int64(5), object(5)
memory usage: 140.4+ KB

In [74]:
df = df.drop(["no_of_style_change"], axis=1, errors='ignore')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_workers          1197 non-null   float64
 13  actual_productivity    1197 non-null   object
dtypes: float64(5), int64(4), object(5)
memory usage: 131.0+ KB

In [76]:
df.isnull().sum( )

date                       0
quarter                    0
department                 0
day                        0
team                       0
targeted_productivity      0
smv                        0
wip                      506
over_time                  0
incentive                  0
idle_time                  0
idle_men                   0
no_of_workers              0
actual_productivity        0
dtype: int64

In [77]:
df['wip'].fillna(0, inplace=True)

<ipython-input-77-96a2d9319b0c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['wip'].fillna(0, inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_workers          1197 non-null   float64
 13  actual_productivity    1197 non-null   object
dtypes: float64(5), int64(4), object(5)
memory usage: 131.0+ KB

In [79]:
df.duplicated().sum()

0

In [80]:
df['no_of_workers'] = df['no_of_workers'].astype('int64')

In [81]:
df['team'] = df['team'].astype('object')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   object
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_workers          1197 non-null   int64
 13  actual_productivity    1197 non-null   object
dtypes: float64(4), int64(4), object(6)
memory usage: 131.0+ KB

In [83]:
def corregir_float(valor):
    str_valor = str(valor)
    if str_valor.count('.') > 1:
        # Si hay mÃ¡s de un punto, eliminar el primero
        partes = str_valor.split('.')
        return float(partes[0] + '.' + ''.join(partes[1:]))
    return float(str_valor)

df['actual_productivity'] = df['actual_productivity'].apply(corregir_float)

In [84]:
df['actual_productivity'] = pd.to_numeric(df['actual_productivity'], errors='coerce')

In [85]:
df['actual_productivity'].describe()

count    1197.000000
mean        0.837986
std         3.046194
min         0.233705
25%         0.650307
50%         0.773333
75%         0.850253
max       105.028058
Name: actual_productivity, dtype: float64

In [86]:
over_1 = df[df['actual_productivity'] >= 1].index
df = df.drop(over_1)

In [87]:
df['actual_productivity'].describe()

count    1160.000000
mean        0.725991
std         0.169404
min         0.233705
25%         0.650061
50%         0.754425
75%         0.845167
max         0.999995
Name: actual_productivity, dtype: float64

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1160 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1160 non-null   object
 1   quarter                1160 non-null   object
 2   department             1160 non-null   object
 3   day                    1160 non-null   object
 4   team                   1160 non-null   object
 5   targeted_productivity  1160 non-null   float64
 6   smv                    1160 non-null   float64
 7   wip                    1160 non-null   float64
 8   over_time              1160 non-null   int64
 9   incentive              1160 non-null   int64
 10  idle_time              1160 non-null   float64
 11  idle_men               1160 non-null   int64
 12  no_of_workers          1160 non-null   int64
 13  actual_productivity    1160 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 135.9+ KB

In [89]:
df['date'] = pd.to_datetime(df['date'])

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1160 entries, 0 to 1196
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1160 non-null   datetime64[ns]
 1   quarter                1160 non-null   object
 2   department             1160 non-null   object
 3   day                    1160 non-null   object
 4   team                   1160 non-null   object
 5   targeted_productivity  1160 non-null   float64
 6   smv                    1160 non-null   float64
 7   wip                    1160 non-null   float64
 8   over_time              1160 non-null   int64
 9   incentive              1160 non-null   int64
 10  idle_time              1160 non-null   float64
 11  idle_men               1160 non-null   int64
 12  no_of_workers          1160 non-null   int64
 13  actual_productivity    1160 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(4)
memory usage: 135.9+ KB

In [ ]:
df.to_excel("productividad_limpia2.xlsx", index=False)